#!/bin/bash
# SMTP Config
export SMTP_HOST=smtp.office365.com
export SMTP_PORT=587
export SMTP_USER=
export SMTP_PASSWORD=

# Alert Email Config
export FROM_EMAIL=
export TO_EMAIL=

# Target EC2 Private IP
export TARGET_IP=
