#!/bin/bash
# SMTP Config
export SMTP_HOST=smtp.office365.com
export SMTP_PORT=587
export SMTP_USER=no_reply_test@sts.vn
export SMTP_PASSWORD=

# Alert Email Config
export FROM_EMAIL=no_reply_test@sts.vn
export TO_EMAIL="haitn2@sts.vn, cuongph@sts.vn"

# Target EC2 Private IP
export TARGET_IP=

# Magento DB Config (for cron monitoring)
export MAGENTO_DB_HOST=
export MAGENTO_DB_PORT=3306
export MAGENTO_DB_USER=
export MAGENTO_DB_PASSWORD=
export MAGENTO_DB_NAME=openasia
