global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
{% for host in groups['target_servers'] if hostvars[host].install_node_exporter | default(true) | bool %}
      - targets: ["{{ hostvars[host].private_ip }}:9100"]
        labels:
          instance_name: "{{ host }}"
{% endfor %}

  - job_name: "cadvisor"
    static_configs:
{% for host in groups['target_servers'] if hostvars[host].install_cadvisor | default(true) | bool %}
      - targets: ["{{ hostvars[host].private_ip }}:8080"]
        labels:
          instance_name: "{{ host }}"
{% endfor %}

  - job_name: "phpfpm"
    static_configs:
{% for host in groups['target_servers'] if hostvars[host].install_phpfpm_exporter | default(false) | bool %}
      - targets: ["{{ hostvars[host].private_ip }}:9253"]
        labels:
          instance_name: "{{ host }}"
{% endfor %}
